ul {
    list-style-type: none;
}

.contact-prev{
    background-color:rgb(194, 191, 191);
    margin:20px auto;
    text-align: left;
    width:500px;
    border-radius:50px 50px 50px 50px;
    
}

.contact-prev img {
    width:100px;
    height:100px;
    border-radius: 50%;
}
.contact-prev .name {
    margin-left:20px
}
.contact-prev p {
    font-size:1.5rem;
}



